.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 30px 0 30px;
  margin: 0 2px 0 2px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  border: 1px solid black;
  cursor: pointer;
  transition: ease 0.2s;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    border-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
    }
  }

  &.whitened {
    background-color: white;
    border-color: white;
    color: black;
    font-weight: 700;

    &:active {
      background-color: lightgrey;
    }
  }

  &.inverted {
    background-color: white;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}